In [11]:
Using pandas, find both the mean and median size by each university 
type (as given in the dataframe), ordered by average size in ascending order.
Make new columns  in the dataframe from existing data for the following attributes:
City
State
ZipCode
Private or Public
for-profit or not-for-profit
primarily associate's (1 for Yes, 0 for No)

Using the new columns you've made above (and excluding the original type column), 
find both the mean and median size of each university by State, by Private or Public, 
and by whether the university is primarily associate's or not.

Use the tools you've learned to compute at **least** one other aggregate from the dataset
Save the updated dataframe as a csv  (using the pandas to_csv method) and commit your files, and push up to github.
(Note: Make a new git repo on your computer and a new github repo in the cloud for this assignment. Save, commit and push often!!!
Git and github are now a part of your workflow. You must use them for every assignment/project that you do, whether I explicitly tell you to or not, now and forever. )

SyntaxError: invalid syntax (<ipython-input-11-2b5aa4883eda>, line 1)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from pandas import Series, DataFrame

In [2]:
uni = pd.read_csv(('~/desktop/ttp2/python/universities.csv'))

In [3]:
uni.columns = map(str.lower, uni.columns)
uni['website']=uni['website'].str.lower()
uni['type'] = uni['type'].str.lower()

In [4]:
#uni.shape
#uni.info
#uni.describe

In [5]:
uni.head()

,name,address,website,type,size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",www.atsu.edu,"4-year, private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, private not-for-profit",51.0

In [6]:
uni_type=uni.groupby('type')
uni_type.mean().round(2).sort_values('size')

                                                        size
type
4-year, primarily associate's, private for-profit     934.38
4-year, primarily associate's, private not-for-...   1129.41
4-year, private not-for-profit                       2399.89
4-year, private for-profit                           3504.50
4-year, primarily associate's, public                6889.37
4-year, public                                      11478.91

In [7]:
uni_type.median().round(2).sort_values('size', ascending=True)

                                                      size
type
4-year, primarily associate's, private for-profit    564.5
4-year, private for-profit                           730.0
4-year, primarily associate's, private not-for-...   768.0
4-year, private not-for-profit                      1206.0
4-year, primarily associate's, public               3558.0
4-year, public                                      7669.0

In [8]:
uni.address.head(
)

0          800 W Jefferson, Kirksville, Missouri 63501
1              1600 Campus Court, Abilene, Texas 79699
2           2802 Moore Hwy, Tifton, Georgia 31793-2601
3    1101 E. 78th Street, Suite 100, Minneapolis, M...
4           305 SE 2nd Ave, Gainesville, Florida 32601
Name: address, dtype: object

In [11]:
uni['street', 'city', 'state']= uni['address'].str.rsplit(',', 2, expand=True)
#zipcode = uni['address'].str.rsplit(' ', n=1, expand=True)
#uni['zipcode']= zipcode[1]
#state = uni['address'].str.rsplit(',', 2, expand=True)
#states=state[1].str.split(' ')
#state
#uni['state']= state[0]
#statezip = address[2].str.split(' ', expand=True)
#statezip

ValueError: Wrong number of items passed 3, placement implies 1

In [18]:
uni['street address'] = address[0]
uni['city']= address[1]
uni['state']= statezip[1]
uni['zipcpde']= statezip[2]

In [11]:
uni

,name,address,website,type,size,street address,city,state,zipcpde
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",www.atsu.edu,"4-year, private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, public",3600.0,2802 Moore Hwy,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, private for-profit",165.0,1101 E. 78th Street,Suite 100,Minneapolis,None
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida,32601
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, private not-for-profit",139.0,13315 W. Washington Boulevard,Los Angeles,California,90066
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, private not-for-profit",396.0,1125 E 8th St,York,Nebraska,68467-2699
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, private not-for-profit",5627.0,Country Club Rd,York,Pennsylvania,17403-3651
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, public",13704.0,One University Plaza,Youngstown,Ohio,44555-0001
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, private not-for-profit",247.0,320 South Main Street,Haverhill,Massachusetts,01835